body {
    font-family: Arial, sans-serif;
    background-color: #f1f8e9;
    text-align: center;
    padding: 40px;
}

h1 {
    color: #2e7d32;
}

input {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    margin: 10px;
    background-color: #2e7d32;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1b5e20;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: white;
    margin: 8px auto;
    padding: 10px;
    width: 350 px;
    border-radius: 5px;
   display:flex;
   align-items:center;
}
  li span {
    margin-left: 8px;
    white-space: nowrap;
}

li span {
    font-size: 16px;
}
